# Core Airflow & Providers
apache-airflow==2.10.3
apache-airflow-providers-apache-spark==4.11.3
apache-airflow-providers-apache-hdfs==4.6.0

# Data Processing
pyspark==3.5.3
pandas==2.2.3

# Web Scraping & HTTP
requests==2.32.3
beautifulsoup4==4.12.3
urllib3==2.2.3

# HDFS
hdfs==2.7.3

# Database
psycopg2-binary==2.9.10